@import "bootstrap/scss/bootstrap";

body {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.custom-table {
    font-size: 14px;

    thead,
    tfoot {
        tr td {
            background-color: rgba(var(--bs-secondary-rgb), 1);
            background-image: var(--bs-gradient);
            font-weight: bold;
            color: white;
        }
    }

}